[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.28.56"
botocore = "==1.31.56"
retry = "==0.9.2"

[dev-packages]

[requires]
python_version = "3.12"
